<!DOCTYPE html>
<html>
    <body>
        <script>
            const queryString = window.location.search
            const urlParams = new URLSearchParams(queryString)
            const error = urlParams.get('error')
            const message = urlParams.get('message')
            const link = urlParams.get('link')
            console.log('message', message)
            const bodyContent = !error
                ? `<div>
                    <h1>Email has been verified</h1>
                   ${link ? ` <a href='${link}'> Open app</a>` : ''}
                    </div>`
                : `<h2>${message}</h2>`
            console.log('bodyContent', bodyContent)
            let body = document.querySelector('body')
            body.innerHTML = bodyContent
        </script>
    </body>
</html>
